/node_modules
/public/hot
/public/storage
/public/uploads
!/public/uploads/images/food/no-image.jpg
!/public/uploads/images/photo-profile/blank-photo-profile.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
